{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <input type="password" placeholder="Current Password" name="currpassword" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="currpassword">
        </div>
        <div class="mb-3">
            <input type="password" placeholder="New Password" name="password" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password">
        </div>
        <div class="mb-3">
            <input type="password" placeholder="Confirm Password" name="confirmation" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirmation">
        </div>
        <button class="btn btn-danger" type="submit">CHANGE</button>
    </form>
{% endblock %}